%hr
%form
  .row
    .small-10.medium-5.columns
      %input{:placeholder => "Title", :type => "text", 'ng-model' => "article.title"}
    .small-10.medium-5.columns
      %textarea{:placeholder => "Body start here!", 'ng-model' => "article.body"}
    .small-10.medium-2.columns.align-middle
      %input{:type => "submit", "ng-click" => "addArticle(article)", "class" => "button"}

%hr
%h4 Listing articles
%table{class: 'table'}
  %thead
    %tr
      %th Title
      %th Body
      %th Action

  %tbody

    %tr{"ng-repeat" => "article in articles"}
      %td {{ article.title }}
      %td {{ article.body }}
      %td
        %a{"ng-href" => "{{article.url}}" }
          = fa_icon "camera-retro"

    -# - @articles.each do |article|
    -#   %tr
    -#     %td= article.title
    -#     %td= article.body
    -#     %td
    -#       = link_to article do
    -#         = fa_icon "camera-retro"
    -#       = link_to edit_article_path(article) do
    -#         = fa_icon "edit"
    -#       = link_to article, method: :delete , data: { confirm: 'Are you sure?'} do
    -#         = fa_icon "trash"
