%hr
%form{:name => "form", :novalidate => ""}
  .row
    .small-10.medium-5.columns
      %input{:placeholder => "Title", name: :title, :type => "text", 'ng-model' => "article.title", required: ""}
      %div{'ng-show' => "form.$submitted || form.title.$touched"}
        %div{'ng-show' => "form.title.$error.required"} Title is required.
    .small-10.medium-5.columns
      %textarea{:placeholder => "Body start here!", 'ng-model' => "article.body"}
    .small-10.medium-2.columns.align-middle
      %input{:type => "submit", "ng-click" => "(article.id) ? updateArticle(article) : addArticle(article)", "class" => "button"}

%hr
%h4 Listing articles
%table{class: 'table'}
  %thead
    %tr
      %th Title
      %th Body
      %th Action

  %tbody

    %tr{"ng-repeat" => "article in articles"}
      %td 
        %p {{ article.title }}
      %td 
        %p {{ article.body }}
      %td
        %a{"ng-click" => "editArticle(article)"}
          = fa_icon "edit"
        %a{"ng-click" => "deleteArticle(article)"}
          = fa_icon "trash"