<div class="jumbotron">
  <h1>Start even if you believe it.</h1>
  <p>This app is kick start for angualar, bootstrap and haml template</p>
  <p></p>
  <p>
    <a class="btn btn-lg btn-primary" href="/ role="button">Home »</a>
  </p>
</div>